.bgRomand {
  background-color: #eedde3;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.startSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.thumbnail {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1389px;
  transform: translate(-50%, -50%) scale(0.4);
  transform-origin: center center;
  z-index: 0;
  border-radius: 40px;
  box-shadow: 15px 10px 20px rgba(0, 0, 0, 0.208);
}

.startButton {
  margin-top: 39rem;
  background-color: #ffffff;
  color: #333333;
  font-size: 1.1rem;
  font-family: "NEXON Lv1 Gothic OTF";
  border: 1px solid #eaafc4;
  border-radius: 999px;
  padding: 1rem 3rem;
  cursor: pointer;
  z-index: 2;
}

/* 콘텐츠 출처 알림 문구 */
.notice {
  font-size: 0.75rem;
  color: #7b7b7b;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
@media (max-width: 640px) {
  .bgRomand {
    height: 100vh;
  }

  .startSection {
    transform: translateY(-3vh); /* ✅ 살짝만 위로 올림 */
  }

  .thumbnail {
    transform: translate(-50%, -50%) scale(0.35);
  }

  .notice {
    bottom: 4rem;
  }
}
