.fyltoLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  opacity: 0;
  scale: 0.8;
  transition: all 0.5s ease;
  z-index: 10;
  border-color: #ab35ff;
}
