.card {
  width: 280px;
  background-color: #ffffff;
  border: 1px solid #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  transition: transform 0.25s ease;
  position: relative;
  border-radius: 6px;
}

.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card:hover {
  transform: translateY(-5px);
}

.thumbnailWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.cardContent {
  padding: 20px;
  text-align: left;
}

.cardTitle {
  font-family: "NanumSquareNeoBold";
  font-size: 16px;
  margin-bottom: 10px;
  color: #111;
}

.cardDesc {
  font-family: "NanumSquareNeo";
  font-size: 14px;
  color: #555;
  line-height: 1.6;
}

.cardTag {
  font-size: 0.75rem;
  width: fit-content;
  color: #777777;
  border: 1px solid #777777;
  border-radius: 50px;
  padding: 5px 10px;
  margin-top: 1rem;
  margin-left: auto;
}

/* 반응형 대응 */
@media (max-width: 640px) {
  .cardContent {
    padding: 16px;
  }
}
