.home_Wrapper {
  min-height: 100vh;
  padding-top: 2rem;
  text-align: center;
}

.home_logo {
  font-family: "Aclonica", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #e2e2e2;
  margin-top: 2rem;
}
