.examplesSection {
  background: linear-gradient(#ede9e4, #eaefff);
  padding: 100px 5vw;
  text-align: center;
}

.Eyebrow {
  font-family: "NanumSquareNeo";
  font-size: 14px;
  color: #969696;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.HeroTitle {
  font-family: "Nanum Myeongjo", serif;
  font-size: 36px;
  font-weight: 500;
  color: #111;
  margin-bottom: 16px;
}

.HeroDescription {
  font-family: "NanumSquareNeo";
  font-size: 12px;
  color: #969696;
  font-style: italic;
  margin-bottom: 50px;
}

/* Swiper 래퍼 */
.sliderOuterWrapper {
  position: relative;
  max-width: calc(260px * 3 + 40px * 2);
  margin: 0 auto;
}

/* Swiper 안쪽 */
.sliderWrapper {
  overflow: hidden;
  width: 100%;
}

/* 각 슬라이드 카드 */
.previewCard {
  background: rgba(255, 255, 255, 0.46);
  box-shadow: 0 10px 20px rgba(62, 62, 62, 0.128);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding-bottom: 10px;
  width: 260px;
  height: 380px;
  margin: auto;
}

.thumbnail {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardContent {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.cardTitle {
  font-size: 15px;
  font-weight: 600;
  color: #111;
  margin-left: 14px;
}

.subTitle {
  font-size: 13px;
  color: #555;
  margin-left: 14px;
}

.moreButton {
  padding: 6px 14px;
  font-size: 13px;
  background-color: #999;
  color: #fff;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 14px;
}

/* 커스텀 화살표 */
.arrow {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: #5e5e5e;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  z-index: 10;
}

.arrowLeft {
  left: -50px;
}

.arrowRight {
  right: -50px;
}

/* Swiper 커스텀 */
.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-wrapper {
  gap: 40px;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }

  .sliderOuterWrapper {
    max-width: 100%;
  }

  .previewCard {
    width: 90%;
  }

  .swiper-wrapper {
    gap: 20px;
  }
}
