.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_p {
  text-align: center;
  font-size: 0.8rem;
  color: #888;
  padding: 1.5rem 0;
  width: 100%;
}
