.scene_wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* 🔹 인트로 화면 */
.intro_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f0f0f0;
  transition: opacity 0.8s ease;
  z-index: 2;
}

/* 🔹 Spline 화면 */
.spline_scene {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: opacity 0.8s ease;
  z-index: 0;
  background-color: #f0f0f0;
}

.overlay_text {
  font-family: "NanumSquareNeo";
  line-height: 1.5;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
  color: black;
}

/* 🔹 공통 배경 그리드 */
.grid_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);

  background-image: linear-gradient(to right, #eee 1px, transparent 1px),
    linear-gradient(to bottom, #eee 1px, transparent 1px),
    url("/intro_back.png");

  background-size: 30px 30px, 30px 30px, cover;
  background-repeat: repeat, repeat, no-repeat;
  background-position: top left, top left, bottom center;
  background-blend-mode: multiply;
  opacity: 0.95;
  z-index: 0;
}

/* 🔹 배경 그라디언트 효과 */
.grid_bg::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7), transparent);
  pointer-events: none;
}

/* 🔹 텍스트 로고 */
.intro_logo {
  font-family: "Aclonica", sans-serif;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  letter-spacing: 10px;
  transform: translate(-50%, -50%) scale(1.3);
  filter: blur(10px);
  opacity: 0.3;
  z-index: 2;
  color: black;
  text-shadow: 6px 10px 30px rgba(0, 0, 0, 0.05),
    20px 25px 60px rgba(0, 0, 0, 0.08);
}

/* 🔹 원형 포커스 */
.focus_svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 360px;
  height: 360px;
}

.focus_circle {
  stroke: rgb(68, 68, 68);
  fill: none;
  opacity: 0.15;
  stroke-linecap: round;
}

/* 🔹 상태 전환 */
.hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

.reveal {
  opacity: 1;
  pointer-events: auto;
  z-index: 2;
}
