.bgFwee {
  background-color: #ffe3ea;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.startSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

/* 썸네일 이미지 */
.thumbnail {
  border-radius: 20px;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  display: block;
}

/* 시작 버튼 */
.imageButton {
  position: relative;
  width: 135px;
  height: 120px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-top: -10.5rem;
}

.buttonImage {
  object-fit: contain;
}

.imageButton:hover {
  transform: scale(1.05);
}

/* 콘텐츠 출처 알림 문구 */
.bgFwee p {
  font-size: 0.75rem;
  color: #999;
  text-align: center;
  margin-top: 3rem;
}

@media (max-width: 640px) {
  .imageButton {
    width: 115px;
    height: 100px;
    margin-top: -9rem;
  }
}
