.bgFwee {
  background-color: #ffe3ea;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.questionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: -2rem;
}

/* 썸네일 이미지 */
.thumbnail {
  border-radius: 20px;
  width: 100%;
  height: auto;
  display: block;
}

/* 이미지 + 콘텐츠 */
.imageWrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  overflow: visible;
}

/* 콘텐츠 오버레이 */
.contentOverlay {
  position: absolute;
  inset: 0;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

/* 진행도 바 */
.progressBar {
  width: 100%;
  height: 7px;
  border-radius: 999px;
  background-color: #fff0f5;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #ffeff3, #ff9393);
  border-radius: 999px;
  transition: width 0.3s ease;
}

/* 질문 */
.questionBox {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  white-space: pre-line;
  line-height: 1.5;
}

.question {
  font-size: 1.1rem;
  color: #724b66;
  margin-bottom: 2rem;
  font-family: "NEXON Lv1 Gothic OTF";
}

/* 옵션 리스트 */
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 옵션 버튼 */
.option {
  width: 100%;
  max-width: 250px;
  background-color: rgba(255, 255, 255, 0.601);
  border: 1px solid #ffaec6;
  border-radius: 2rem;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  font-family: "NEXON Lv1 Gothic OTF";
  color: #9b678c;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.04);
}

.option:hover {
  background-color: #fff0f5;
  transform: scale(1.02);
}

/* 출처 고정 문구 */
.bgFwee p {
  font-size: 0.75rem;
  color: #999;
  text-align: center;
  position: absolute;
  bottom: 4.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* 모바일 대응 */
@media (max-width: 640px) {
  .bgFwee {
    height: 100vh;
  }
  .imageWrapper {
    transform: translateY(-3vh);
  }

  .progressBar {
    margin-top: 2rem;
  }
  .contentOverlay {
    padding: 2rem 1.25rem;
  }

  .question {
    font-size: 1.1rem;
  }

  .option {
    font-size: 0.95rem;
  }

  .bgFwee p {
    bottom: 12rem;
  }
}
